<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.sysadl.verification.ui"
         name="SysADL Verification Menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="org.sysadl.verification.menuContribution2">
         <menu
               commandId="org.sysadl.verification.command.start"
               label="Verify Model">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.sysadl.verification.ui.commands.StartCommand"
            id="org.sysadl.verification.command.start"
            name="Verify">
      </command>
   </extension>

</plugin>
