/.metadata/
*.class
/*/bin/*
/*/src-gen/*
org.sysadl/src/org/sysadl/impl/*
*.gif
org.sysadl.edit/*
/*/xtend-gen/*
org.sysadl.editor/src/org/presentation/SysADLActionBarContributor.java
/org.sysadl.editor/src/org/sysadl/presentation/SysADLEditor.java
/org.sysadl.editor/src/org/sysadl/presentation/SysADLEditorPlugin.java
/org.sysadl.grammar/.antlr-generator-3.2.0-patch.jar
/org.sysadl.editor/.classpath
/org.sysadl.editor/.gitignore
/org.sysadl.editor/.project
/org.sysadl.editor/build.properties
/org.sysadl.editor/src/org/sysadl/presentation/SysADLActionBarContributor.java
/org.sysadl.execution/.gitignore
/org.sysadl.grammar.ide/.gitignore
/org.sysadl.grammar.ui/.gitignore
/org.sysadl.grammar.ui/plugin.xml_gen
/org.sysadl.grammar/.gitignore
/org.sysadl.viewpoints/.gitignore
/org.sysadl/.gitignore
/org.sysadl/src/org/sysadl/AbstractActivityDef.java
/org.sysadl/src/org/sysadl/AbstractComponentDef.java
/org.sysadl/src/org/sysadl/AbstractConnectorDef.java
/org.sysadl/src/org/sysadl/AbstractDef.java
/org.sysadl/src/org/sysadl/AbstractFlow.java
/org.sysadl/src/org/sysadl/AbstractPin.java
/org.sysadl/src/org/sysadl/AbstractPortUse.java
/org.sysadl/src/org/sysadl/ActionDef.java
/org.sysadl/src/org/sysadl/ActionReceive.java
/org.sysadl/src/org/sysadl/ActionSend.java
/org.sysadl/src/org/sysadl/ActionUse.java
/org.sysadl/src/org/sysadl/ActivityAllocation.java
/org.sysadl/src/org/sysadl/ActivityBody.java
/org.sysadl/src/org/sysadl/ActivityDef.java
/org.sysadl/src/org/sysadl/ActivityDelegation.java
/org.sysadl/src/org/sysadl/ActivityFlow.java
/org.sysadl/src/org/sysadl/ActivityFlowable.java
/org.sysadl/src/org/sysadl/ActivityRelation.java
/org.sysadl/src/org/sysadl/ActivitySwitch.java
/org.sysadl/src/org/sysadl/ActivitySwitchCase.java
/org.sysadl/src/org/sysadl/AdditiveExpression.java
/org.sysadl/src/org/sysadl/AdditiveOperator.java
/org.sysadl/src/org/sysadl/AffixOperator.java
/org.sysadl/src/org/sysadl/Allocation.java
/org.sysadl/src/org/sysadl/AllocationTable.java
/org.sysadl/src/org/sysadl/ArchitectureDef.java
/org.sysadl/src/org/sysadl/ArrayIndex.java
/org.sysadl/src/org/sysadl/AssignmentExpression.java
/org.sysadl/src/org/sysadl/AssignmentOperator.java
/org.sysadl/src/org/sysadl/BehaviorDef.java
/org.sysadl/src/org/sysadl/BinaryExpression.java
/org.sysadl/src/org/sysadl/BitStringUnaryExpression.java
/org.sysadl/src/org/sysadl/BlockStatement.java
/org.sysadl/src/org/sysadl/BooleanLiteralExpression.java
/org.sysadl/src/org/sysadl/BooleanUnaryExpression.java
/org.sysadl/src/org/sysadl/CastExpression.java
/org.sysadl/src/org/sysadl/ClassificationExpression.java
/org.sysadl/src/org/sysadl/ClassificationOperator.java
/org.sysadl/src/org/sysadl/ComponentDef.java
/org.sysadl/src/org/sysadl/ComponentUse.java
/org.sysadl/src/org/sysadl/CompositePortDef.java
/org.sysadl/src/org/sysadl/ConditionalLogicalExpression.java
/org.sysadl/src/org/sysadl/ConditionalTestExpression.java
/org.sysadl/src/org/sysadl/Configuration.java
/org.sysadl/src/org/sysadl/ConnectorBinding.java
/org.sysadl/src/org/sysadl/ConnectorDef.java
/org.sysadl/src/org/sysadl/ConnectorUse.java
/org.sysadl/src/org/sysadl/ConstraintDef.java
/org.sysadl/src/org/sysadl/ConstraintKind.java
/org.sysadl/src/org/sysadl/ConstraintUse.java
/org.sysadl/src/org/sysadl/DataBuffer.java
/org.sysadl/src/org/sysadl/DataDef.java
/org.sysadl/src/org/sysadl/DataObject.java
/org.sysadl/src/org/sysadl/DataStore.java
/org.sysadl/src/org/sysadl/DataTypeAccessExpression.java
/org.sysadl/src/org/sysadl/DataTypeDef.java
/org.sysadl/src/org/sysadl/DefaultSwitchClause.java
/org.sysadl/src/org/sysadl/Delegation.java
/org.sysadl/src/org/sysadl/DimensionDef.java
/org.sysadl/src/org/sysadl/DoStatement.java
/org.sysadl/src/org/sysadl/ElementDef.java
/org.sysadl/src/org/sysadl/ElseStatement.java
/org.sysadl/src/org/sysadl/EnumLiteralValue.java
/org.sysadl/src/org/sysadl/EnumValueLiteralExpression.java
/org.sysadl/src/org/sysadl/Enumeration.java
/org.sysadl/src/org/sysadl/EqualityExpression.java
/org.sysadl/src/org/sysadl/EqualityOperator.java
/org.sysadl/src/org/sysadl/ExampleArchitecture.java
/org.sysadl/src/org/sysadl/Executable.java
/org.sysadl/src/org/sysadl/ExecutableAllocation.java
/org.sysadl/src/org/sysadl/Expression.java
/org.sysadl/src/org/sysadl/FeatureReference.java
/org.sysadl/src/org/sysadl/Flow.java
/org.sysadl/src/org/sysadl/FlowProperty.java
/org.sysadl/src/org/sysadl/ForControl.java
/org.sysadl/src/org/sysadl/ForStatement.java
/org.sysadl/src/org/sysadl/ForVar.java
/org.sysadl/src/org/sysadl/IfBlockStatement.java
/org.sysadl/src/org/sysadl/IfStatement.java
/org.sysadl/src/org/sysadl/IncrementOrDecrementExpression.java
/org.sysadl/src/org/sysadl/InstanceCreationExpression.java
/org.sysadl/src/org/sysadl/Invariant.java
/org.sysadl/src/org/sysadl/IsolationExpression.java
/org.sysadl/src/org/sysadl/LeftHandSide.java
/org.sysadl/src/org/sysadl/LiteralExpression.java
/org.sysadl/src/org/sysadl/LogicalExpression.java
/org.sysadl/src/org/sysadl/LoopStatement.java
/org.sysadl/src/org/sysadl/Model.java
/org.sysadl/src/org/sysadl/MultiplicativeExpression.java
/org.sysadl/src/org/sysadl/MultiplicativeOperator.java
/org.sysadl/src/org/sysadl/NameExpression.java
/org.sysadl/src/org/sysadl/NamedElement.java
/org.sysadl/src/org/sysadl/NaturalLiteralExpression.java
/org.sysadl/src/org/sysadl/NonNameExpression.java
/org.sysadl/src/org/sysadl/NullLiteralExpression.java
/org.sysadl/src/org/sysadl/NumericUnaryExpression.java
/org.sysadl/src/org/sysadl/Package.java
/org.sysadl/src/org/sysadl/Pin.java
/org.sysadl/src/org/sysadl/PortDef.java
/org.sysadl/src/org/sysadl/PortUse.java
/org.sysadl/src/org/sysadl/PostfixExpression.java
/org.sysadl/src/org/sysadl/PredefinedAction.java
/org.sysadl/src/org/sysadl/PrefixExpression.java
/org.sysadl/src/org/sysadl/PrimaryExpression.java
/org.sysadl/src/org/sysadl/Property.java
/org.sysadl/src/org/sysadl/PropertyAccessExpression.java
/org.sysadl/src/org/sysadl/Protocol.java
/org.sysadl/src/org/sysadl/ProtocolAlternativeType.java
/org.sysadl/src/org/sysadl/ProtocolBody.java
/org.sysadl/src/org/sysadl/ProtocolBodyInternal.java
/org.sysadl/src/org/sysadl/ProtocolControl.java
/org.sysadl/src/org/sysadl/RelationUse.java
/org.sysadl/src/org/sysadl/RelationalExpression.java
/org.sysadl/src/org/sysadl/RelationalOperator.java
/org.sysadl/src/org/sysadl/Requirement.java
/org.sysadl/src/org/sysadl/ReturnStatement.java
/org.sysadl/src/org/sysadl/SequenceAccessExpression.java
/org.sysadl/src/org/sysadl/SequenceConstructionExpression.java
/org.sysadl/src/org/sysadl/SequenceElements.java
/org.sysadl/src/org/sysadl/SequenceExpressionList.java
/org.sysadl/src/org/sysadl/SequenceRange.java
/org.sysadl/src/org/sysadl/ShiftExpression.java
/org.sysadl/src/org/sysadl/ShiftOperator.java
/org.sysadl/src/org/sysadl/SimplePortDef.java
/org.sysadl/src/org/sysadl/Statement.java
/org.sysadl/src/org/sysadl/StringLiteralExpression.java
/org.sysadl/src/org/sysadl/StructuralDef.java
/org.sysadl/src/org/sysadl/StructuralUse.java
/org.sysadl/src/org/sysadl/Style.java
/org.sysadl/src/org/sysadl/SwitchClause.java
/org.sysadl/src/org/sysadl/SwitchStatement.java
/org.sysadl/src/org/sysadl/SysADLFactory.java
/org.sysadl/src/org/sysadl/SysADLPackage.java
/org.sysadl/src/org/sysadl/ThisExpression.java
/org.sysadl/src/org/sysadl/TypeDef.java
/org.sysadl/src/org/sysadl/TypeUse.java
/org.sysadl/src/org/sysadl/UnaryExpression.java
/org.sysadl/src/org/sysadl/UnitDef.java
/org.sysadl/src/org/sysadl/ValueTypeDef.java
/org.sysadl/src/org/sysadl/VariableDecl.java
/org.sysadl/src/org/sysadl/WhileStatement.java
/org.sysadl/src/org/sysadl/util/SysADLAdapterFactory.java
/org.sysadl/src/org/sysadl/util/SysADLSwitch.java
/update_site/org.sysadl.update/*.jar
/update_site/org.sysadl.update/features/*.jar
/update_site/org.sysadl.update/plugins/*.jar
/update_site/dir
/org.sysadl.tradutor.csp.acceleo/tasks
