/.metadata/
/org.sysadl/src/
/*/bin/*
/*/src-gen/*
*.gif
org.sysadl.edit/*
/*/xtend-gen/*
org.sysadl.editor/src/org/presentation/SysADLActionBarContributor.java
/org.sysadl.editor/src/org/sysadl/presentation/SysADLEditor.java
/org.sysadl.editor/src/org/sysadl/presentation/SysADLEditorPlugin.java
/org.sysadl.grammar/.antlr-generator-3.2.0-patch.jar
/org.sysadl.editor/.classpath
/org.sysadl.editor/.gitignore
/org.sysadl.editor/.project
/org.sysadl.editor/META-INF/MANIFEST.MF
/org.sysadl.editor/build.properties
/org.sysadl.editor/plugin.properties
/org.sysadl.editor/plugin.xml
/org.sysadl.editor/src/org/sysadl/presentation/SysADLActionBarContributor.java
/org.sysadl.execution/.gitignore
/org.sysadl.grammar.ide/.gitignore
/org.sysadl.grammar.ui/.gitignore
/org.sysadl.grammar.ui/plugin.xml_gen
/org.sysadl.grammar/.gitignore
/org.sysadl.viewpoints/.gitignore
/org.sysadl/.gitignore
