<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sysADL_Sintax -->
      <package
            uri="com.sysADL_Sintax"
            class="sysADL_Sintax.SysADLPackage"
            genModel="model/sysADL_Sintax.genmodel"/>
   </extension>

</plugin>
