<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="defaultpackage.Activator"
               id="SysADL.viewpoints"
	       name="SysADL">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="sysadl.viewpoints.OpenEmbeddedXtextEditor"
           id="SysADL.viewpoints.OpenEmbeddedXtextEditor">
     </javaActions>
  </extension>
</plugin>
