<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.sysadl.verification.ui.Activator"
               id="org.sysadl.verification.ui"
	       name="ui">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="org.sysadl.verification.ui.Action"
           id="org.sysadl.verification.ui.action">
     </javaActions>
  </extension>
</plugin>
